In [2]:
for  value in range(2,20,2):
    print(value)

2
4
6
8
10
12
14
16
18

In [3]:
names=['sara','maha','daniyal','mustafa']
for name in names:
        print(name.upper())

SARA
MAHA
DANIYAL
MUSTAFA

In [1]:
names=['sara','maha','daniyal','mustafa']
for name in names:
        print(name.upper())

SARA
MAHA
DANIYAL
MUSTAFA

In [5]:
numbers=[2,3,6,7,8,9,15,20]
for num in numbers:
        if num % 3 ==0:
                print(num)

3
6
9
15

In [6]:
for square in range(1,11):
        squares= square**2
        print(squares)

1
4
9
16
25
36
49
64
81
100